<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">DUMB FACEBOOK</a></mdb-navbar-brand>
      
        <!-- Collapsible content -->
        <links>
      
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light"  routerLink='/register' mdbWavesEffect><mdb-icon fas icon=""></mdb-icon> Register<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink='/login' mdbWavesEffect><mdb-icon fas icon=""></mdb-icon> Login</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link waves-light" routerLink='/post' mdbWavesEffect><mdb-icon fas icon=""></mdb-icon> Post</a>
            
      
           
            </li>
      
          </ul>
          <!-- Links -->
        </links>
        <!-- Collapsible content -->
      
      </mdb-navbar>
      <!--/.Navbar-->