
<div class="container">
  <!-- Default form login -->
  
  <form  class="text-center border border-light p-5 col-10" > 
  
      <p class="h4 mb-4">Log In</p>

           <div class="container">
      <!-- UserName -->
      <input type="name" name="username" [(ngModel)]="username" class="form-control mb-4" placeholder="User Name">
    
      <!-- Password -->
      <input type="password" name="password" [(ngModel)]="password"  class="form-control mb-4" placeholder="Password">
    
      <!-- </div> -->
  </div>
  
      <!-- Sign in button -->
      <button  mdbBtn color="info" block="true" class="my-4" (click)="confirmUser()" routerLink="/post" type="submit" > Log in</button>
      
        <!-- Register -->
  <p>Not a member?
    <a href="register">Register</a>
  </p>
    
     
    
    
    </form>